<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="position: relative">
    <%= text_field_tag("reservation[date]", value = @reservation.date, html_options = { class: 'form-control datepicker', placeholder: 'mm/dd/yyyy' }) %>

    <%= text_field_tag("reservation[time]", value = @reservation.time.strftime('%I:%M %p'), html_options = { class: 'form-control timepicker', placeholder: 'time' }) %>
  </div>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
